<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/apage/default_layout}">
<head>
<title>:: 작업후기 등록 ::</title>
<style>
.star-rating {font-size: 24px; color: #ddd;}
.star-rating .material-icons {cursor: pointer;}
.star-rating .material-icons.active {color: #ffd700;}
</style>
<script th:src="@{/apage/js/review030.js}"></script>
<script th:src="@{/plugins/jquery-inputmask/jquery.inputmask.bundle.js}"></script>
</head>
<body>
<div layout:fragment="content">
	<section class="content">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>작업후기 등록</h2>
                        </div>
                        <div class="body">
                            <form id="reviewForm">
                                <div class="row clearfix">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>작성자명 <span class="text-danger">*</span></label>
                                            <div class="form-line">
                                                <input type="text" id="reviewNm" name="reviewNm" class="form-control" placeholder="작성자 이름을 입력하세요" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>서비스 종류 <span class="text-danger">*</span></label>
                                            <select id="serviceCd" name="serviceCd" class="form-control show-tick" required>
                                                <option value="">선택하세요</option>
                                                <option th:each="code : ${svcCdList}" th:value="${code.serviceCd}" th:text="${code.serviceNm}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>별점 <span class="text-danger">*</span></label>
                                            <div class="star-rating" id="starRating">
                                                <i class="material-icons" data-value="1">star_border</i>
                                                <i class="material-icons" data-value="2">star_border</i>
                                                <i class="material-icons" data-value="3">star_border</i>
                                                <i class="material-icons" data-value="4">star_border</i>
                                                <i class="material-icons" data-value="5">star_border</i>
                                            </div>
                                            <input type="hidden" id="starRate" name="starRate" value="5">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>서비스 받은 날짜</label>
                                            <div class="form-line">
                                                <input type="text" id="svcDate" name="svcDate" class="form-control" placeholder="20250101">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>노출 여부</label>
                                            <div class="switch">
                                                <label>비노출<input type="checkbox" id="dispYn" name="dispYn" checked><span class="lever"></span>노출</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>후기 내용 <span class="text-danger">*</span></label>
                                            <div class="form-line">
                                                <textarea id="reviewCn" name="reviewCn" class="form-control" rows="10" placeholder="후기 내용을 입력하세요" required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>비밀번호 (수정/삭제시 필요)</label>
                                            <div class="form-line">
                                                <input type="password" id="pw" name="pw" class="form-control" placeholder="비밀번호를 입력하세요">
                                            </div>
                                            <small class="text-muted">비밀번호를 입력하지 않으면 관리자만 수정/삭제 가능합니다.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="button" class="btn btn-primary waves-effect" onclick="saveReview()">
                                        <i class="material-icons">save</i>
                                        <span>저장</span>
                                    </button>
                                    <button type="button" class="btn btn-default waves-effect" onclick="location.href='/apage/review010.do'">
                                        <i class="material-icons">cancel</i>
                                        <span>취소</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>