<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/apage/default_layout}">
<head>
<title>:: 서비스 카테고리 등록 ::</title>
<script th:src="@{/apage/js/category030.js}"></script>
</head>
<body>
<div layout:fragment="content">
	<section class="content">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>서비스 카테고리 등록</h2>
                        </div>
                        <div class="body">
                            <form id="serviceForm" method="post" action="#">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <colgroup>
                                            <col style="width:20%">
                                            <col style="width:80%">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th class="bg-light-blue">서비스 코드 <span class="col-red">*</span></th>
                                                <td>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" class="form-control" id="serviceCd" name="serviceCd" 
                                                                   placeholder="예: 012" maxlength="3" required>
                                                        </div>
                                                        <div class="help-info">3자리 숫자로 입력하세요</div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="bg-light-blue">서비스명 <span class="col-red">*</span></th>
                                                <td>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" class="form-control" id="serviceNm" name="serviceNm" 
                                                                   placeholder="서비스명을 입력하세요" maxlength="100" required>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="bg-light-blue">정렬 순서</th>
                                                <td>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="number" class="form-control" id="serviceOrder" name="serviceOrder" 
                                                                   placeholder="정렬 순서를 입력하세요 (미입력시 자동설정)" min="1">
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="bg-light-blue">사용여부</th>
                                                <td>
                                                    <div class="form-group">
                                                        <input type="radio" name="useYn" id="useY" value="Y" checked>
                                                        <label for="useY" style="margin-right: 20px;">사용</label>
                                                        <input type="radio" name="useYn" id="useN" value="N">
                                                        <label for="useN">미사용</label>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                
                                <div class="row clearfix">
                                    <div class="col-xs-12 text-center">
                                        <button type="button" class="btn btn-primary waves-effect" onclick="saveServiceCategory()">
                                            <i class="material-icons">save</i>
                                            <span>등록</span>
                                        </button>
                                        <button type="button" class="btn btn-default waves-effect" 
                                                onclick="location.href='/apage/category010.do'">
                                            <i class="material-icons">cancel</i>
                                            <span>취소</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script th:inline="javascript">
            function saveServiceCategory() {
                // 유효성 검사
                var serviceCd = $('#serviceCd').val().trim();
                var serviceNm = $('#serviceNm').val().trim();
                
                if (!serviceCd) {
                    alert('서비스 코드를 입력하세요.');
                    $('#serviceCd').focus();
                    return;
                }
                
                if (!/^\d{3}$/.test(serviceCd)) {
                    alert('서비스 코드는 3자리 숫자로 입력하세요.');
                    $('#serviceCd').focus();
                    return;
                }
                
                if (!serviceNm) {
                    alert('서비스명을 입력하세요.');
                    $('#serviceNm').focus();
                    return;
                }
                
                // 등록 처리
                $.ajax({
                    url: '/apage/category031.do',
                    type: 'POST',
                    data: $('#serviceForm').serialize(),
                    dataType: 'json',
                    success: function(data) {
                        if (data.result && data.result.result === 'SUCCESS') {
                            alert(data.result.msg);
                            location.href = '/apage/category010.do';
                        } else {
                            alert(data.result.msg || '등록에 실패하였습니다.');
                        }
                    },
                    error: function() {
                        alert('서버 오류가 발생하였습니다.');
                    }
                });
            }
        </script>
    </section>
</div>
</body>
</html>