
	<style>
	button.dropdown-toggle{padding-top: 13px;padding-left:0px;}
	button.dropdown-toggle,
	button.dropdown-toggle:hover,
	button.dropdown-toggle:active,
	button.dropdown-toggle:focus{background-color: transparent !important;}
	button.dropdown-toggle span{margin-left:0px !important;}
	p.col-red{margin-bottom:15px !important;}
	</style>
	<div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="carda">
                <div class="body">
					<form id="form_validation">
						
						<div class="row clearfix" th:if="${view.ssa == 'Y'}">
							<div class="col-sm-12">
							    <p class="font-bold col-red">
									"superadmin" 계정은 현제 비밀번호가 맞지 않아도 비밀번호를 변경 할 수 있습니다.
								</p>
							</div>
						</div>
					
						<div class="row clearfix">
							<div class="col-sm-12">
							    <b>현제 비밀번호</b>
							    <div class="input-group">
							        <span class="input-group-addon">
							            <i class="material-icons">https</i>
							        </span>
							        <div class="form-line">
										<input type="hidden" name="mngrSeq" th:value="${view.mngrSeq}">
							            <input type="password" class="form-control" name="mngrPw" data-name="현제 비밀번호">
							        </div>
							    </div>
							</div>
						</div>
						
						<div class="row clearfix">
							<div class="col-sm-12">
							    <b>변경 비밀번호</b>
							    <div class="input-group">
							        <span class="input-group-addon">
							            <i class="material-icons">https</i>
							        </span>
							        <div class="form-line">
							            <input type="password" class="form-control" name="mngrPwUpdt" data-name="변경 비밀번호">
							        </div>
							    </div>
							</div>
						</div>
						
						<div class="row clearfix">
							<div class="col-sm-12">
							    <b>변경 비밀번호 확인</b>
							    <div class="input-group">
							        <span class="input-group-addon">
							            <i class="material-icons">https</i>
							        </span>
							        <div class="form-line">
							            <input type="password" class="form-control" name="mngrPwUpdtChk" data-name="변경 비밀번호 확인">
							        </div>
							    </div>
							</div>
						</div>
						
					</form>
                </div>
            </div>
        </div>
    </div>
		
	<script th:src="@{/apage/js/admin.js}"></script>
