<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/apage/default_layout}">
<head>
<title>:: 온라인 상담 ::</title>

<style>
#templateTable{margin-bottom:0;}
#pagination{text-align: center;}
.btnReg{float:right;margin:4px 4px 15px 0px;}
#templateTable .material-icons{font-size: 19px !important;}
#templateTable button{padding: 3px 6px !important; margin-right:5px;}
</style>
<script th:src="@{/apage/js/mnger010.js}"></script>
<script th:src="@{/apage/js/pages/tables/jquery-datatable.js}"></script>
<script th:src="@{/plugins/jquery-datatable/jquery.dataTables.js}"></script>
<script th:src="@{/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js}"></script>
<script th:src="@{/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js}"></script>
<script th:src="@{/plugins/jquery-datatable/extensions/export/buttons.flash.min.js}"></script>
<script th:src="@{/plugins/jquery-datatable/extensions/export/jszip.min.js}"></script>
<script th:src="@{/plugins/jquery-datatable/extensions/export/pdfmake.min.js}"></script>
<script th:src="@{/plugins/jquery-datatable/extensions/export/vfs_fonts.js}"></script>
<script th:src="@{/plugins/jquery-datatable/extensions/export/buttons.html5.min.js}"></script>
<script th:src="@{/plugins/jquery-datatable/extensions/export/buttons.print.min.js}"></script>
<script th:src="@{/plugins/jquery-inputmask/jquery.inputmask.bundle.js}"></script>

</head>
<body>
<div layout:fragment="content">
	<section class="content">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>관리자 목록</h2>
                        </div>
                        <div class="body">
                            <div class="table-responsive" th:if="${ssa == 'Y'}">
								<button type="button" class="btn btn-default waves-effect btnReg">
									<i class="material-icons">insert_comment</i>
									<span>등록</span>
								</button>
                        	</div>
                            <div class="table-responsive">
								<table id="templateTable" class="table table-bordered table-striped table-hover dataTable"></table>
								<div id="pagination" class="dataTables_paginate paging_simple_numbers"></div>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		
    </section>
	
	<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
	    <div class="modal-dialog modal-sm" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h4 class="modal-title" id="defaultModalLabel">관리자 </h4>
	            </div>
	            <div class="modal-body" id="viewDiv">
				</div>
	            <div class="modal-footer">
					<!--
	                <button type="button" class="btn btn-link waves-effect btnModalInsert">INSERT</button>
	                <button type="button" class="btn btn-link waves-effect btnModalUpdate">UPDATE</button>
	                <button type="button" class="btn btn-link waves-effect btnModalPwUpd">UPDATE</button>
	                <button type="button" class="btn btn-link waves-effect btnModalDelete">DELETE</button>
					-->
	                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
	            </div>
	        </div>
	    </div>
	</div>


</div>
</body>
</html>